<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="net.shu-cream.eclipse.font.editorContribution1"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
         <action
               class="net.shu_cream.eclipse.font.ToLargeAction"
               icon="icons/large.gif"
               id="net.shu-cream.eclipse.font.toLargeAction"
               label="%toLargeAction.label"
               style="push"
               toolbarPath="net/shu-cream/font"
               tooltip="%toLargeAction.tooltip"/>
         <action
               class="net.shu_cream.eclipse.font.ToSmallAction"
               icon="icons/small.gif"
               id="net.shu-cream.eclipse.font.toSmallAction"
               label="%toSmallAction.label"
               style="push"
               toolbarPath="net/shu-cream/font"
               tooltip="%toSmallAction.tooltip"/>
         <action
               class="net.shu_cream.eclipse.font.ResetAction"
               icon="icons/reset.gif"
               id="net.shu-cream.eclipse.font.resetAction"
               label="%resetAction.label"
               style="push"
               toolbarPath="net/shu-cream/font"
               tooltip="%resetAction.tooltip"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.shu_cream.eclipse.font">
            <command
                  commandId="net.shu_cream.eclipse.font.large"
                  icon="icons/large.gif"
                  id="large"
                  label="Large"
                  style="push"
                  tooltip="Large">
            </command>
            <command
                  commandId="net.shu_cream.eclipse.font.small"
                  icon="icons/small.gif"
                  id="small"
                  label="Small"
                  style="push"
                  tooltip="Small">
            </command>
            <command
                  commandId="net.shu_cream.eclipse.font.reset"
                  icon="icons/reset.gif"
                  id="Reset"
                  label="Reset"
                  style="push"
                  tooltip="Reset">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.shu_cream.eclipse.font"
            id="net.shu_cream.eclipse.font.large"
            name="Large">
      </command>
      <command
            categoryId="net.shu_cream.eclipse.font"
            id="net.shu_cream.eclipse.font.small"
            name="Small">
      </command>
      <command
            categoryId="net.shu_cream.eclipse.font"
            id="net.shu_cream.eclipse.font.reset"
            name="Reset">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.shu_cream.eclipse.font.ToLargeHandler"
            commandId="net.shu_cream.eclipse.font.large">
      </handler>
      <handler
            class="net.shu_cream.eclipse.font.ToSmallHandler"
            commandId="net.shu_cream.eclipse.font.small">
      </handler>
      <handler
            class="net.shu_cream.eclipse.font.ResetHandler"
            commandId="net.shu_cream.eclipse.font.reset">
      </handler>
   </extension>

</plugin>
